apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Values.appName }}
spec:
  maxReplicas: {{ $.Values.hpa.maxReplicas }}
  minReplicas: {{ $.Values.hpa.minReplicas }}
  metrics:
  - resource:
      name: cpu
      target:
        averageUtilization: {{ $.Values.hpa.cpuUtilization }}
        type: Utilization
    type: Resource
  - resource: 
      name: memory 
      target: 
        averageUtilization: {{ $.Values.hpa.memoryUtilization }} 
        type: Utilization 
    type: Resource
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Values.appName }}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 60
      policies:
      - type: Percent
        value: 50
        periodSeconds: 30
